<ul class="navbar-right">
    <div class="dropdown">
        <ul>
            <button
                class="btn btn-link dropdown-toggle"
                data-bs-toggle="dropdown"
                type="button"
                href=""
                id="cart"
            >
                <i class="bi bi-cart"></i>
                <span class="badge">{{ cartProducts.length }}</span>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                    class="dropdown-item"
                    href="#"
                    *ngFor="let product of cartProducts"
                >
                    <img height="50" width="50" src="{{ product.imageURL }}" />
                    - {{ product.name }} - {{ product.price | currency }}</a
                >

                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                    >Cart Total: {{ this.getTotal() | currency }}</a
                >
            </div>
        </ul>
    </div>
</ul>
