<!--
    Ideas:
    initially I will do like box that will contain smaller components.
    The list itself will hold lil shopping cart components so if you have 12 items there will be twelve smaller components withing this one.
    I feel there is a chance this particular component will not need to be made. this HTML could just be put in app.comp.html and within that we loop through
    all the shopping cart items. Who knows, can always be deleted.
    I AM STILL LEARNING THE BEST WAY TO DO STUFF IN THIS FRAMEWORK OKAY DONT JUDGE ME
-->
<div class="container">
    <ul class="list-group">
        <!--shopping cart item component within?-->
        <li class="list-group-item"></li>
    </ul>
</div>
