<div class="card">
    <img
        src="{{ product.imageURL }}"
        class="card-img-top"
        alt="{{ product.name }}"
    />
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="text-muted mb-4">{{ product.details }}</p>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <span>Cost</span><span>{{ product.price | currency }}</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <button (click)="addToCart(product)" class="btn btn-primary">
                    Add to Cart
                </button>
            </div>
            <div class="col-sm">
                <a
                    [routerLink]="['/product', product.id]"
                    type="button"
                    class="btn btn-secondary"
                >
                    View Details
                </a>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-success">Buy Now</button>
            </div>
        </div>
    </div>
</div>
