<section> <!-- I have a section tag here, however, I feel that it may need to be removed if we dynamically add multiple of these components-->
    <div class="container py-5">
      <div>
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card">
            <img src="/assets/spongebobChair.jpg"
              class="card-img-top" alt="spongebob chair" />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">ITEM NAME</h5>
                <p class="text-muted mb-4">BRIEF ITEM DESCRIPTION</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>PRICING DETAILS</span><span>$5,999</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>MORE OPTIONAL DETAILS</span><span>$999</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>MORE OPTIONAL DETAILS</span><span>$199</span>
                </div>
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Total</span><span>$7,197.00</span>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-primary">
                        Add to Cart
                    </button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-secondary">
                        View Details
                    </button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-success">
                        Buy Now
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
