<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a (click)="handleBrandNavigation()" [routerLink]="brandLink"
            ><ng-content select="[brand]"></ng-content
        ></a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let item of navigationItems">
                    <a
                        class="nav-link"
                        [ngClass]="{ active: item.link === activeLink }"
                        [attr.aria-current]="
                            item.link === activeLink ? 'page' : null
                        "
                        [routerLink]="item.link"
                        (click)="handleNavigation(item.link)"
                        >{{ item.name }}</a
                    >
                </li>
            </ul>
            <nbl-shopping-cart-drop-down></nbl-shopping-cart-drop-down>
            <form class="d-flex" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
